:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .colorsm{
    color: #fa0000;
  }


  .auth-background {
    background-image: url('/images/fondo_registro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ocupa toda la altura visible */
    padding-top: 30px; /* Espacio superior si es necesario */
    padding-bottom: 30px;
  }
  
  .card {
    max-width: 900px; /* o lo que necesites */
    margin: 0 auto;    /* centra la card */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* opcional: sombra para destacarla */
  }
