
.auth-background {
  min-height: 100vh;
  background-image: url('/images/derechos_humanos-01.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

 .colorsm{
    color: #fa0000;
  }

 .colorwr{
    color: #ff8e03e7;
  }